@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap');

body {
    background-color: #222222;
    color: #EFEFEF;
    font-family: 'Source Sans Pro', sans-serif;
    margin-left: 25%;
    margin-right: 25%;
}

h1,h2 {
    font-weight: 600;
}