@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap');

body {
    background-color: #222222;
    color: #EFEFEF;
    font-family: 'Source Sans Pro', sans-serif;
    margin-left: 48px;
    margin-right: 48px;
}

h1 {
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 45px;
}

hr {
    border-color: #FFE500;
}

.topnav { 
    /* background-color: #EFEFEF; */
    position: fixed;
    width: calc(100% - 72px);
    height: 72px;
    left: 72px;
    top: 0;
    right: 0;

    z-index: 9999;

    text-decoration: none;

    overflow: hidden;

    border-bottom-style: solid;
    border-bottom-color: #FFE500;
}



.topnav a{
    float: left;
    text-decoration: none;
    margin-right: 20px;
    margin-top: 16px;
   
}

.topnav-right {
    float: right;
    
}

.detail-container{
    left: 72px; 
    top: 72px;
    width: auto;
    height: auto;
}

.primary{
    /* position: absolute; */
    left: 0%;
    right: 0.07%;
    top: 0%;
    bottom: 0%;

    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 23px;
    /* identical to box height */

    text-align: center;

    /* Whiteout */

    color: #FFFFFF;
    background: #5200FF;

    padding: 8px 16px;
}

.secondary {
    /* position: absolute; */
    left: 0%;
    right: 0.07%;
    top: 0%;
    bottom: 0%;

    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 23px;
    /* identical to box height */

    text-align: center;

    /* Whiteout */

    color: #000000;
    background: #DBDBDB;

    padding: 8px 16px;

}

.topnav .title{
    position: absolute;
    left: 2.34%;
    right: 79.43%;
    top: 20.83%;
    bottom: 16.67%;

    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 45px;

    color: #EFEFEF;
}

#summary p{
    font-size: 20px;
}
#skills .container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-columns: minmax(16px,auto);
    grid-auto-rows: minmax(100px, auto);
}

#skills .title{
    font-weight: 600;
    grid-column: 1;
    grid-row: 1;
}

#skills .description{
    grid-column: 2;
    grid-row: 1;
}

#skills {
    font-size: 20px;
}

#version .p{ 
    font-size: 12px;
}